<div class="page" ng-controller="FormationsUEController">
	<div class="panel panel-default for-edit">
		<div class="panel-heading">
			<strong><span class="fa fa-university"></span>&nbsp; Unité
				Enseignement </strong>
		</div>
		<div class="panel-body">

			<!-- Edition -->

			<form class="form-horizontal form-validation" name="formationUEForm">
				
				<div class="form-group">
					<label for="" class="col-sm-2">Formation<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="code" minlength="1"
							maxlength="8" ng-model="UE.uniteEnseignementPK.codeFormation"
							ng-required="true" disabled>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-2">UE<span id="required-field"
						style="color: red;"> (*) </span></label>
					<div class="col-sm-5" ng-show="unitens==null">
						<input type="text" class="form-control" name="codeUE"
							minlength="1" maxlength="8"
							ng-model="UE.uniteEnseignementPK.codeUe" required>
					</div>
					<div class="col-sm-5" ng-show="unitens!=null">
						<input type="text" class="form-control" name="codeUE"
							minlength="1" maxlength="8"
							ng-model="UE.uniteEnseignementPK.codeUe" required disabled>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-2">Enseignant<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">
						<!-- <input type="number" class="form-control" name="enseignant"
								ng-model="UE.noEnseignant.noEnseignant" placeholder="Numéro d'enseignant" ng-required="true"> -->
						<select name="enseignant" ng-model="UE.noEnseignant.noEnseignant"
							class="form-control"
							ng-options="enseignant.noEnseignant as enseignant.nom+'  '+enseignant.prenom for enseignant in enseignantsFormation"
							required>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="" class="col-sm-2">Désignation<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="designation"
							minlength="1" maxlength="64" ng-model="UE.designation"
							ng-required="true">
					</div>

				</div>

				<div class="form-group">
					<label for="" class="col-sm-2">Semestre<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="semestre" data-ng-pattern="/^\d[0| ]? {0,1}$/" 
							ng-model="UE.semestre" ng-required="true">
					</div>


				</div>


				<div class="form-group">
					<label for="" class="col-sm-2">Description</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="code" minlength="1"
							maxlength="256" ng-model="UE.description">

					</div>

				</div>
				<div class="form-group">
					<label for="" class="col-sm-2">CM</label>
					<div class="col-sm-5">
						<input type="number" class="form-control" name="code"
							minlength="1" maxlength="38" ng-model="UE.nbhCm">

					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2">TD</label>
					<div class="col-sm-5">
						<input type="number" class="form-control" name="code"
							minlength="1" maxlength="2" ng-model="UE.nbhTd">

					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2">TP</label>
					<div class="col-sm-5">
						<input type="number" class="form-control" name="code"
							minlength="1" maxlength="2" ng-model="UE.nbhTp">

					</div>
				</div>
			</form>
			<a class="btn btn-success" ng-click="submit()"
				ng-disabled="formationUEForm.codeUE.$dirty && formationUEForm.codeUE.$invalid || 
           				formationUEForm.enseignant.$dirty && formationUEForm.enseignant.$invalid || 
           				formationUEForm.designation.$dirty && formationUEForm.designation.$invalid || 
           				formationUEForm.semestre.$dirty && formationUEForm.semestre.$invalid ||
           				formationUEForm.$invalid">
				<span class="glyphicon glyphicon-ok"></span> Valider
			</a> <a class="btn btn-danger pull-right"
				ng-click="retourDetailFormarion()"> Annuler</a> </br>
			</br>
			<span style="color: red;"> (*) Champ obligatoire</span>
		</div>
	</div>
</div>
</div>

