<div class="page" ng-controller="FormationsEcController">
	<div class="panel panel-default for-edit">
		<div class="panel-heading">
			<strong><span class="fa fa-bars"></span>&nbsp; &Eacute;l&eacute;ment
					Constitutif
			</strong>
		</div>
		<div class="panel-body">

			<!-- Edition -->
      
				<form class="form-horizontal" name="formationECForm">

					<!-- les messages d'alerts -->
					<div ng-repeat="alert in alerts" ng-show="alert.show">
						<alert type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
					</div>

					<div class="form-group">
						<label for="" class="col-sm-2">Formation<span
							id="required-field" style="color: red;"> (*) </span></label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="code" minlength="1"
								  maxlength="16" ng-model="EC.elementConstitutifPK.codeFormation"  ng-required="true" disabled> 
								
						</div>
					</div>

					<div class="form-group">
						<label for="" class="col-sm-2">UE<span
							id="required-field" style="color: red;"> (*) </span></label>
						<div class="col-sm-5">
						<input type="text" class="form-control" name="code"
							 ng-model="EC.elementConstitutifPK.codeUe"  ng-required="true" disabled> 	 								
						</div>

						
					</div>
					
					<div class="form-group">
						<label for="" class="col-sm-2">EC<span
							id="required-field" style="color: red;"> (*) </span></label>
						<div class="col-sm-5" ng-hide="ec">
							<input  type="text" class="form-control" name="codeEC" 	minlength="1"
								maxlength="8" ng-model="EC.elementConstitutifPK.codeEc"  ng-required="true" disabled>
						</div>
							<div class="col-sm-5" ng-show="ec">
							<input  type="text" class="form-control" name="codeEC" minlength="1"
								maxlength="8" ng-model="EC.elementConstitutifPK.codeEc"  ng-required="true">								
						</div>
					</div>


					<div class="form-group">
						<label for="" class="col-sm-2">Enseignant<span
							id="required-field" style="color: red;"> (*) </span></label>
						<div class="col-sm-5">
							<!-- <input type="number" class="form-control" name="enseignant"
								ng-model="EC.noEnseignant.noEnseignant" placeholder="Numéro d'enseignant" ng-required="true"> -->
							<select name="enseignant" ng-model="EC.noEnseignant.noEnseignant" class="form-control"
								ng-options="enseignant.noEnseignant as enseignant.nom+'  '+enseignant.prenom for enseignant in enseignantsFormation" required>
 							</select>
						</div>

						
					</div>


					<div class="form-group">
						<label for="" class="col-sm-2">Désignation<span
							id="required-field" style="color: red;"> (*) </span></label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="designation"
								ng-model="EC.designation" ng-required="true">
						</div>

					</div>
	
					<div class="form-group">
						<label for="" class="col-sm-2">CM</label>
						<div class="col-sm-5">
							<input type="number" class="form-control" name="code" minlength="1"
								maxlength="16" ng-model="EC.nbhCm" > 
								
						</div>
					</div>
						<div class="form-group">
						<label for="" class="col-sm-2">TD</label>
						<div class="col-sm-5">
							<input type="number" class="form-control" name="code" minlength="1"
								maxlength="16" ng-model="EC.nbhTd" > 
								
						</div>
					</div>
						<div class="form-group">
						<label for="" class="col-sm-2">TP</label>
						<div class="col-sm-5">
							<input type="number" class="form-control" name="code" minlength="1"
								maxlength="16" ng-model="EC.nbhTp"> 
								
						</div>
					</div>
				</form>
				<a class="btn btn-success" ng-click="submit()"
						ng-disabled="formationECForm.codeEC.$dirty && formationECForm.codeUE.$invalid || 
           				formationECForm.enseignant.$dirty && formationECForm.enseignant.$invalid || 
           				formationECForm.designation.$dirty && formationECForm.designation.$invalid || 
           				formationECForm.semestre.$dirty && formationECForm.semestre.$invalid ||
           				formationECForm.$invalid">
					<span class="glyphicon glyphicon-ok"></span> Valider
				</a>
				<a class="btn btn-danger pull-right" ng-click="retourDetailUe()"> Annuler</a>
				</br></br><span style="color: red;" > (*) Champ obligatoire</span>	
			</div>
		</div>
	</div>
</div>

