<div class="page page-table" data-ng-controller="UEController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Unités d'Enseignement</strong>
        <span class="add fa fa-user-plus pull-right" ng-click="ajoutUE()"></span>
        </div>

        <!-- <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Affiche {{filtered.length}}/{{enseignants.length}}
                    </span>              
                </div>
            </div>
        </div> -->

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        Formation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('code') "
                              data-ng-class="{active: row == 'code'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-code') "
                              data-ng-class="{active: row == '-code'}"></span>
                    </div></th>
                    <th><div class="th">
                        Code
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('diplome') "
                              data-ng-class="{active: row == 'diplome'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-diplome') "
                              data-ng-class="{active: row == '-diplome'}"></span>
                    </div></th>                    
                    <th><div class="th">
                        Enseignant responsable
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">
                        Designation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">
                        Semestre
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">
                        Heures
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="u in ue" class="ue">
                    <td ng-click="edit(u)">{{u.code_formation}}</td>
                    <td ng-click="edit(u)">{{u.code}}</td>
                    <td ng-click="edit(u)">{{u.enseignant.prenom}} {{u.enseignant.nom}}</td>
                    <td ng-click="edit(u)">{{u.designation}}</td>
                    <td ng-click="edit(u)">{{u.semestre}}</td>
                    <td ng-click="edit(u)">{{u.NBH_CM}}/{{u.NBH_TD}}/{{u.NBH_TP}}</td>
                    <td><span class="remove fa fa-remove" ng-click="supprime(f)"></span></td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"
                                last-text="Derni&egrave;re"
                                next-text="Suivant"
                                previous-text="Pr&eacute;cedent"
                                first-text="Premi&egrave;re"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>
