<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- stats -->
    <div class="row">
        <div class="col-sm-8">
            <div class="panel mini-box">
 
                <div class="box-info">
                    <p class="size-h2">Bonjour </p>
                    <p class="text-muted"><span data-i18n="Etudiants"></span></p>
                </div>
            </div>
        </div>
 


    </div>
    <!-- end stats -->


</div>
  