<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- stats -->
    <div class="row">
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-book"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{statistiquesFormation}}</p>
                    <p class="text-muted"><span data-i18n="Formations"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-info">
                    <i class="fa fa-users"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{statistiquesEnseignant}}</p>
                    <p class="text-muted"><span data-i18n="Enseignants"></span></p>
                </div>
            </div>
        </div>
                <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-briefcase"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{statistiquesEtudiant}}</p>
                    <p class="text-muted"><span data-i18n="Etudiants"></span></p>
                </div>
            </div>
        </div>

    </div>
    <!-- end stats -->


</div>
  