        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li ng-show="userole=='ADM'"><div ng-show="userole=='ADM'" id="ex1"><img ng-show="userole=='ADM'" src="images/admin.png" alt="" height="70" width="70">
         Bonjour Administrateur </div></li>
        <li ng-show="userole=='ADM'"><a href="#/dashboardAdmin"> <i class="fa fa-dashboard"></i><span data-i18n="Tableau de bord"></span> </a></li>
        <li ng-show="userole=='ADM'">
            <a href="#/admin/enseignants"><i class="fa fa-users"></i><span data-i18n="Gestion des Enseignants"></span></a>
            <ul>
                <li><a href="#/admin/enseignants"><i class="fa fa-caret-right"></i><span data-i18n="Consulter les Enseignants"></span></a></li>
            </ul>
        </li>
        <li ng-show="userole=='ADM'">
            <a href="#/admin/formations"><i class="fa fa-book"></i><span data-i18n="Gestion des Formations"></span></a>
            <ul>               
                <li><a href="#/admin/formations"><i class="fa fa-caret-right"></i><span data-i18n="Consulter les Formations"></span></a></li>                
            </ul>
        </li> 
        <li ng-show="userole=='ADM'">
            <a href="#/admin/promotions"><i class="fa fa-graduation-cap"></i><span data-i18n="Gestion des Promotions"></span></a>
            <ul>               
                <li><a href="#/admin/promotions"><i class="fa fa-caret-right"></i><span data-i18n="Consulter les Promotions"></span></a></li>                
            </ul>
        </li>
        <li ng-show="userole=='ADM'">
            <a href="#/admin/evaluation"><i class="fa fa-check-square-o"></i><span data-i18n="Param&eacute;trage d'&Eacute;valuations"></span></a>
            <ul>        
               	<li><a href="#/admin/rubriques"><i class="fa fa-caret-right"></i><span data-i18n="Rubriques"></span></a></li>
            	<li><a href="#/admin/questions"><i class="fa fa-caret-right"></i><span data-i18n="Questions"></span></a></li>
            	<li><a href="#/admin/qualificatifs"><i class="fa fa-caret-right"></i><span data-i18n="Qualificatifs"></span></a></li> 
            </ul>
        </li>
        <li ng-show="userole=='ENS'"><li>
        <div ng-show="userole=='ENS'" id="ex1"><img ng-show="userole=='ENS'" src="images/enseignant.png" alt="" height="70" width="60">
         Bonjour {{username}}</div></li>
        <li ng-show="userole=='ENS'"><a href="#/dashboardENS"> <i class="fa fa-dashboard"></i><span data-i18n="Tableau de bord"></span> </a></li>       
    	<li ng-show="userole=='ENS'">
            <a href="#/admin/evaluations"><i class="fa fa-check-square"></i><span data-i18n="Gestion des &eacute;valuations"></span></a>
            <ul>               
                <li><a href="#/ens/evaluations"><i class="fa fa-caret-right"></i><span data-i18n="Consulter les &eacute;valuations"></span></a></li>              
            </ul>
        </li>
        <li ng-show="userole=='ETU'"><li>
        <div ng-show="userole=='ETU'" id="ex1"><img ng-show="userole=='ETU'" src="images/etudiant.png" alt="" height="70" width="60">
         Bonjour {{username}}</div></li>
        <li ng-show="userole=='ETU'"><a href="#/dashboardEtudiant"> <i class="fa fa-dashboard"></i><span data-i18n="Tableau de bord"></span> </a></li>       
    	<li ng-show="userole=='ETU'">
            <a href="#/admin/evaluations"><i class="fa fa-check-square"></i><span data-i18n="Evaluations"></span></a>
            <ul>               
                <li><a href="#/etudiant/evaluations"><i class="fa fa-caret-right"></i><span data-i18n="Consulter les &eacute;valuations"></span></a></li>              
            </ul>
        </li>
    </ul>
</div>