<!-- cette page permet de ajouter modifier un qualificatif--> 
<div class="page" ng-controller="QualificatifDetailsController">
  <div class="panel panel-default qualificatif-edit">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-stats"></span>&nbsp;Qualificatif</strong></div>
    <div class="panel-body">
        <!-- Consultation -->
        <div class="media animate" ng-hide="edit">
            <!-- button class="btn btn-warning pull-right" ng-click="edition()"><span class="glyphicon glyphicon-pencil"></span> Editer</button-->
            <div class="media-body"> 
                <ul class="list-unstyled list-info">
                    <li>
                        <span class="icon glyphicon glyphicon-minus-sign"></span>
                        <label>Minimal</label>
                        {{qualificatif.minimal}}<br/>
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-plus-sign"></span>
                        <label>Maximal</label>                        
                        {{qualificatif.maximal}}
                    </li>                
                </ul>                
            </div>
            
            <a class="btn btn-primary" href="#/admin/qualificatifs"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
        </div>

        <!-- Edition -->
        <div ng-show="edit">            
            <form class="form-horizontal" novalidate name="qualificatifForm">
            
            	<!-- les messages d'alerts -->
            	<div ng-repeat="alert in alerts" ng-show="alert.show">
       				 <alert type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
      			</div>
      			
                <div class="form-group">
                <!--  div ng-message="required">Champ requis</div>-->
                    <label for="" class="col-sm-2">Minimal<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="minimal" minlength="1" maxlength="16"
                        		ng-model="qualificatif.minimal" required>
                        		
						<span style="color:red" ng-show="qualificatifForm.minimal.$dirty && qualificatifForm.minimal.$invalid">
						<span ng-show="qualificatifForm.minimal.$error.required">Champ obligatoire.</span>
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Maximal<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
							<input type="text" class="form-control" name="maximal" minlength="1" maxlength="16"
								ng-model="qualificatif.maximal" required>
								
							<span style="color:red" ng-show="qualificatifForm.maximal.$dirty && qualificatifForm.maximal.$invalid">
							<span ng-show="qualificatifForm.maximal.$error.required">Champ obligatoire.</span>								
					</div>                    
                </div>

            </form>
            <!--  le ng-disabled grise le buton de submit tant que les champs sont vides -->
            <a class="btn btn-success" ng-click="submit()"
           					 ng-disabled="qualificatifForm.minimal.$dirty && qualificatifForm.minimal.$invalid || 
            				qualificatifForm.maximal.$dirty && qualificatifForm.maximal.$invalid || qualificatifForm.$invalid">
            				<span class="glyphicon glyphicon-ok"></span> Valider</a>
            <button class="btn btn-danger pull-right" ng-click="cancel()"> Annuler</button>
            </br></br><span style="color: red;" > (*) Champ obligatoire</span>
            
            
            
			
        </div>
    </div>
  </div>
</div>
