<div class="page page-table md-padding dialogdemoBasicUsage" data-ng-controller="QualificatifsController">
<div class="col-md-9">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-stats"></span>&nbsp;Qualificatifs</strong>
        <span class="add fa  fa-plus-square fa-lg pull-right" ng-click="addQualificatif()"></span>
        </div>
        
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Recherche"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Affiche {{filteredQualificatifSize}}/{{qualificatifsSize}}
                    </span>              
                </div>
            </div>
        </div>  

	
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class="text-center"><div class="th">
                        Minimal
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('minimal') "
                              data-ng-class="{active: row == 'minimal'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-minimal') "
                              data-ng-class="{active: row == '-minimal'}"></span>
                    </div></th>                    
                    <th class="text-center"><div class="th">
                         Maximal
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('maximal') "
                              data-ng-class="{active: row == 'maximal'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-maximal') "
                              data-ng-class="{active: row == '-maximal'}"></span>
                    </div></th>                  
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="q in currentPageQualificatif">
                    <td align="center">{{q.minimal}}</td>
                    <td align="center">{{q.maximal}}</td>
                    
                    <td class="qualificatif">
                    <span class="edit fa fa-edit" ng-click="updateQualificatif(q.idQualificatif)"></span>&nbsp;&nbsp;&nbsp;
                    <span class="remove fa fa-remove"  ng-click="supprime(q)"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Afficher 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        éléments par page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredQualificatif.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"
                                last-text="Derni&egrave;re"
                                next-text="Suivant"
                                previous-text="Pr&eacute;cedent"
                                first-text="Premi&egrave;re"></pagination>
                </div>
            </div>
            <div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
  </div>
        </footer>
    </section>
</div>
</div>