<div class="page" ng-controller="QuestionsDetailsController">
  <div class="panel panel-default ens-edit">
    <div class="panel-heading"><strong><span class="fa fa-question-circle fa-lg"></span>&nbsp; Question Standards</strong></div>
    <div class="panel-body">
        <!-- Consultation -->
  <!--      <div class="media animate" ng-hide="edit">
            <button class="btn btn-warning pull-right" ng-click="edition()"><span class="glyphicon glyphicon-pencil"></span> Editer</button>
            <div class="media-body"> 
                <ul class="list-unstyled list-info">
                    <li ng-if="question.type=='QUS'">
                        <span class="icon glyphicon glyphicon-paperclip"></span>
                        <label>Type de question</label>
                        Question Standard<br/>
                    </li>
                    <li ng-if="question.type=='PRS'">
                        <span class="icon glyphicon glyphicon-paperclip"></span>
                        <label>Type de question</label>
                        Question Personalisée<br/>
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-folder-close"></span>
                        <label>Designation</label>                        
                        {{question.intitule}}
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-minus-sign"></span>
                        <label>Qualificatif Min</label>
                        {{question.idQualificatif.minimal}}
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-plus-sign"></span>
                        <label>Qualificatif Max</label>
                        {{question.idQualificatif.maximal}}
                    </li>                    
                </ul>                
            </div>

            <a class="btn btn-primary" href="#/admin/questions"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
        </div>-->

        <!-- Edition -->
<!--         <div ng-show="edit"> -->
        <div>            
            <form class="form-horizontal" novalidate name="questionForm">
                <!-- <div class="form-group">
                    <label for="" class="col-sm-2">Type</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" 
                               ng-model="question.type">
                    </div>                    
                </div> -->
                <div class="form-group">
                    <label for="" class="col-sm-2">Designation&nbsp;<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="designation" minlength="1" maxlength="64"
                               ng-model="question.intitule" required>
                    		<span style="color:red" ng-show="questionForm.designation.$dirty && questionForm.designation.$invalid">
							<span ng-show="questionForm.designation.$error.required">Champ obligatoire.</span>
						</div>                    
                </div>
                <div class="form-group">
	                <label for="" class="col-sm-2">Qualificatif&nbsp;<span id="required-field" style="color: red;"> (*) </span></label>
	               <div class="col-sm-5">
	                <span class="ui-select">
	                <select name="qualificatif" ng-model="question.Qualificatif" ng-options="qualificatif.idQualificatif as qualificatif.minimal+' -- '+qualificatif.maximal for qualificatif in listqualificatif" required>
	                </select>
	           		</span>
	           		</div>
            	</div>
            </form>
            <a class="btn btn-success" ng-click="submit()" 
                        ng-disabled="questionForm.designation.$dirty && questionForm.designation.$invalid || 
           				questionForm.qualificatif.$dirty && questionForm.qualificatif.$invalid || 
           				questionForm.$invalid">
           				<span class="glyphicon glyphicon-ok"></span> Valider</a>
            <button class="btn btn-danger pull-right" ng-click="cancel()"> Annuler</button>
            </br></br><span style="color: red;" > (*) Champ obligatoire</span>
        </div>
    </div>
  </div>
</div>
