<div class="page page-table" data-ng-controller="QuestionsController">
<div class="col-md-9">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="fa fa-question-circle fa-lg"></span> &nbsp; Questions standards</strong>
        <span class="add fa fa-plus-square fa-lg pull-right" ng-click="ajoutQuestion()"></span>
        </div>

          <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Rechercher"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Affiche {{filteredQuestionSize}}/{{questionsSize}}
                    </span>              
                </div>
            </div>
        </div>  

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class="text-center"><div class="th">
                        Designation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('intitule') "
                              data-ng-class="{active: row == 'intitule'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-intitule') "
                              data-ng-class="{active: row == '-intitule'}"></span>
                    </div></th>
                    <th class="text-center"><div class="th">
                        Qualificatif Min
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('idQualificatif.minimal') "
                              data-ng-class="{active: row == 'idQualificatif.minimal'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-idQualificatif.minimal') "
                              data-ng-class="{active: row == '-idQualificatif.minimal'}"></span>
                    </div></th> 
                    <th class="text-center"><div class="th">
                        Qualificatif Max
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('idQualificatif.maximal') "
                              data-ng-class="{active: row == 'idQualificatif.maximal'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-idQualificatif.maximal') "
                              data-ng-class="{active: row == '-idQualificatif.maximal'}"></span>
                    </div></th>        
                               
                    <th class="text-center"><div class="th"></div></th>
                </tr>
            </thead>
            <tbody><!-- currentPageEnseignant / enseignants -->
                <tr data-ng-repeat="question in currentPageQuestion" class="question">
                    <td>{{question.intitule}}</td>
                    <td align="center">{{question.idQualificatif.minimal}}</td>
                    <td align="center">{{question.idQualificatif.maximal}}</td>
                    <td>
                   		<span class="edit fa fa-edit" ng-click="edit(question.idQuestion)"></span>
                   		 &nbsp; &nbsp;
                    	<span class="remove fa fa-remove" ng-click="supprime(question.idQuestion)"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Afficher 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        Elément par page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredQuestion.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"
                                last-text="Derni&egrave;re"
                                next-text="Suivant"
                                previous-text="Pr&eacute;c&eacute;dent"
                                first-text="Premi&egrave;re"></pagination>
                </div>
            </div>
        </footer>
    </section>
</div>
</div>
