<div class="page" ng-controller="PromotionDetailsController">
	<div class="panel panel-default ens-edit">
		<div class="panel-heading">
			<strong><span class="fa fa-graduation-cap"></span> &nbsp;
				Promotion</strong>
		</div>
		<div class="panel-body">

			<!-- Consultation informations de la promotion-->
			<div class="media animate" ng-hide="edit">
	            <button class="btn btn-warning pull-right" ng-click="edition(promotion.promotionPK)"><span class="glyphicon glyphicon-pencil"></span> Editer</button>
				<div class="media-body">
					<ul class="list-unstyled list-info">

						<li><span class="icon fa fa-calendar-o"></span>
							<label>Année</label>
							{{promotion.promotionPK.anneeUniversitaire}}</li>
						<li><span class="icon fa fa-book"></span> <label>Formation</label>
							{{promotion.promotionPK.codeFormation}}</li>
						<li><span class="icon glyphicon glyphicon-user"></span> <label>Responsable</label>
							{{promotion.noEnseignant.sexe == "H" ? 'M.' : 'Mme'}}
							{{promotion.noEnseignant.nom}} {{promotion.noEnseignant.prenom}}
						</li>
						<li><span class="icon fa fa-graduation-cap"></span>
							<label>Sigle Promotion</label> {{promotion.siglePromotion}}</li>
						<li><span class="icon glyphicon glyphicon-arrow-up"></span> <label>Nb
								max étudiants</label> {{promotion.nbMaxEtudiant}}</li>
						<li><span class="icon glyphicon glyphicon-calendar"></span> <label>Date
								réponse liste principale</label> {{promotion.dateReponseLp |
							date:'dd/MM/yyyy'}}</li>
						<li><span class="icon glyphicon glyphicon-calendar"></span> <label>Date
								réponse liste d'attente</label> {{promotion.dateReponseLalp |
							date:'dd/MM/yyyy'}}</li>
						<li><span class="icon glyphicon glyphicon-calendar"></span> <label>Date
								de rentrée</label> {{promotion.dateRentree | date:'dd/MM/yyyy'}}</li>
						<li><span class="icon glyphicon glyphicon-home"></span> <label>Lieu
								de rentrée</label> {{promotion.lieuRentree}}</li>
						<li><span class="icon glyphicon glyphicon-info-sign"></span>
							<label>Processus de stage</label> {{PS}}</li>
						<li><span class="icon glyphicon glyphicon-pushpin"></span> <label>Commentaire</label>
							{{promotion.commentaire}}</li>
					</ul>
				</div>
				<hr/>
				<!-- Tableau etudiants de la promotion-->
				<div class="row">
					<div class="col-md-12">
						<div class="panel-body table-responsive">
							<strong><span class="fa fa-briefcase"></span>
								&nbsp;Etudiants</strong>
							 <span class="add fa fa-user-plus pull-right" 
							 ng-click="addEtudiants(promotion.promotionPK.codeFormation,promotion.promotionPK.anneeUniversitaire)"></span>
							 <p>
							 </br>
							<div ng-show="promotion.etudiants.length">
							<div class="table-filters" >
								<div class="row" ng-show="promotion.etudiants.length">
									<div class="col-sm-4 col-xs-6">
										<form>
											<input type="text" placeholder="Recherche"
												class="form-control" data-ng-model="searchKeywords"
												data-ng-keyup="search()">
										</form>
									</div>
									<div class="col-sm-3 col-xs-6 filter-result-info">
										<span> Affiche
											{{filteredEtudiantSize}}/{{etudiantsSize}} </span>
									</div>
								</div>
								</br>
							</div>
						       
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="text-center">Promotion</th>
										<th class="text-center">Numéro</th>
										<th class="text-center">Nom</th>
										<th class="text-center">Prénom</th>
										<th class="text-center">Sexe</th>
										<th class="text-center">Nationalité</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="e in currentPageEtudiant">
										<td align="center">{{promotion.siglePromotion}}</td>
										<td align="center">{{e.noEtudiant}}</td>
										<td align="center">{{e.nom}}</td>
										<td align="center">{{e.prenom}}</td>
										<td align="center">{{e.sexe}}</td>
										<td align="center">{{e.nationalite}}</td>
										<td class="etudiant" >
										 <span class="search fa fa-search" ng-click="showDetails(e.noEtudiant,promotion.promotionPK.codeFormation,promotion.promotionPK.anneeUniversitaire)"></span>&nbsp;&nbsp;&nbsp;
                                         <span class="edit fa fa-edit" ng-click="editEtudiant(e.noEtudiant,promotion.promotionPK.codeFormation,promotion.promotionPK.anneeUniversitaire)"></span>&nbsp;&nbsp;&nbsp;
                                         <span class="remove fa fa-remove" ng-click="supprimeEtudiant(e.noEtudiant)"></span> 
                                       </td>
									</tr>
								</tbody>
							</table>
								<footer class="table-footer">
								<div class="row">
									<div class="col-md-6 page-num-info">
										<span> Afficher <select data-ng-model="numPerPage"
											data-ng-options="num for num in numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
										</select> éléments par page
										</span>
									</div>
									<div class="col-md-6 text-right pagination-container">
										<pagination class="pagination-sm" ng-model="currentPage"
											total-items="filteredEtudiant.length" max-size="4"
											ng-change="select(currentPage)" items-per-page="numPerPage"
											rotate="false" boundary-links="true"
											last-text="Derni&egrave;re" next-text="Suivant"
											previous-text="Pr&eacute;c&eacute;dent"
											first-text="Premi&egrave;re"></pagination>
									</div>
								</div>
							</footer>

						</div>
						</div>
					</div>

				</div>
				<a class="btn btn-primary" href="#/admin/promotions"><span
					class="glyphicon glyphicon-arrow-left"></span> Retour</a>
			</div>
		</div>
	</div>
</div>
