
<div class="page" ng-controller="EtudiantDetailsController">
	<div class="panel panel-default ens-edit">
		<div class="panel-heading">
			<strong><span class="fa fa-briefcase"></span>
								&nbsp;Etudiant</strong>
		</div>
		<div class="panel-body">

			<!-- Consultation informations de l'etudiant-->
			
			<div class="media animate" ng-hide="edit">
				<button class="btn btn-warning pull-right" ng-click="editEtudiant(etudiant.noEtudiant,codeFormation,anneeUniversitaire)"><span class="glyphicon glyphicon-pencil"></span> Editer</button>
				<div class="media-body">
					<ul class="list-unstyled list-info">
						<li><span class="icon fa fa-book"></span> 
					           	<label>Formation</label>
							{{codeFormation}}</li>
					<li><span class="icon fa fa-calendar-o"></span>
							<label>Année</label>
							{{anneeUniversitaire}}</li>
						<li><span class="icon fa fa-codepen"></span>
							<label>N&deg; Etudiant</label>
							{{etudiant.noEtudiant}}</li>
						<li><span class="icon glyphicon glyphicon-user"></span> <label>Etudiant</label>
							{{etudiant.sexe == "M" ? 'M.' : 'Mme.'}}
							{{etudiant.nom}} {{etudiant.prenom}}
						</li>
						<li><span class="icon fa fa-birthday-cake"></span>
							<label>Date Naissance</label> {{etudiant.dateNaissance | date:'dd/MM/yy'}}</li>
						<li><span class="icon glyphicon glyphicon-tower"></span> <label>
								Lieu Naissance</label> {{etudiant.lieuNaissance }}</li>
						<li><span class="icon glyphicon glyphicon-flag"></span> <label>
								Nationalite</label> {{etudiant.nationalite}}</li>
						<li><span class="icon glyphicon glyphicon-phone"></span> <label>
								Mobile</label> {{etudiant.mobile}}</li>
						<li><span class=" icon glyphicon glyphicon-phone-alt"></span> <label>
								T&eacute;l&eacute;phone</label> {{etudiant.telephone}}</li>
							<li><span class="icon fa fa-at"></span>
						<label>E-mail</label> {{etudiant.emailUbo}}</li>
						<li><span class="icon fa fa-at"></span> <label>
								E-mail personnel</label> {{etudiant.email}}</li>
						<li><span class="icon glyphicon glyphicon-pushpin"></span> <label>Adresse</label>
							{{etudiant.adresse}} {{etudiant.codePostal}} {{etudiant.ville}} </li>
						<li><span class="icon glyphicon glyphicon-globe"></span> <label>Pays d'Origine</label>
							{{paysOrigineEtudiant}}</li>
							<li><span class="icon fa fa-university"></span> <label>Universite d'Origine</label>
							{{universiteEtudiant}}</li>
							<li><span class="icon glyphicon glyphicon-hdd"></span> <label>GroupeTp</label>
							{{etudiant.groupeTp}}</li>
							<li><span class="icon fa fa-language"></span> <label>Groupe d'Anglais</label>
							{{etudiant.groupeAnglais}}</li>
					</ul>
						<a class="btn btn-primary" ng-click="backPromotion()"><span
					class="glyphicon glyphicon-arrow-left"></span> Retour</a>
				</div>
				</div>
				</div>
				</div>
				</div>
			