<div class="page" ng-controller="EtudiantDetailsController">
	<div class="panel panel-default ens-edit">
		<div class="panel-heading">
			<strong><span class="fa fa-briefcase"></span> &nbsp;Etudiant</strong>
		</div>
		<div class="panel-body">

			<!-- Edition -->

			<form class="form-horizontal form-validation" novalidate
				name="etudiantForm">

				<!-- les messages d'alerts -->
				<div ng-repeat="alert in alerts" ng-show="alert.show">
					<alert type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-2">Année Universitaire</label>
					<div class="col-sm-5">
						<input type="text" name="anneeUniv" name="codeform"
							class="form-control" ng-model="anneeUniversitaire"
							ng-value="anneeUniversitaire" disabled>


					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-2">Code Formation</label>
					<div class="col-sm-5">
						<input type="text" name="codeform" class="form-control"
							ng-model="codeFormation" ng-value="codeFormation" disabled>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">N&deg; Etudiant<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div ng-show="numetudiant==null" class="col-sm-5">
						<input type="text" class="form-control" name="noEtudiant"
							minlength="8" maxlength="8" ng-model="etudiant.noEtudiant"
							data-ng-pattern="/^[0-9]{8}$/" placeholder="Exemple: 20569875"
							title="Exemple: 20569875" required> <span
							style="color: red"
							ng-show="etudiantForm.noEtudiant.$dirty && etudiantForm.noEtudiant.$invalid">
							<span ng-show="etudiantForm.noEtudiant.$error.required">Champ
								obligatoire.</span>
					</div>

					<div ng-show="numetudiant!=null" class="col-sm-5">
						<input type="text" class="form-control" name="noEtudiant"
							minlength="1" maxlength="50" ng-model="etudiant.noEtudiant"
							required disabled> <span style="color: red"
							ng-show="etudiantForm.noEtudiant.$dirty && etudiantForm.noEtudiant.$invalid">
							<span ng-show="etudiantForm.noEtudiant.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Nom<span id="required-field"
						style="color: red;"> (*) </span></label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="nom" minlength="1"
							maxlength="50" ng-model="etudiant.nom" required> <span
							style="color: red"
							ng-show="etudiantForm.nom.$dirty && etudiantForm.nom.$invalid">
							<span ng-show="etudiantForm.nom.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Prénom<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="prenom"
							minlength="1" maxlength="50" ng-model="etudiant.prenom" required>

						<span style="color: red"
							ng-show="etudiantForm.prenom.$dirty && etudiantForm.prenom.$invalid">
							<span ng-show="etudiantForm.prenom.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Sexe<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">

						<label class="ui-radio"><input name="radio1" type="radio"
							value="M" ng-model="etudiant.sexe"><span>Homme</span></label> <label
							class="ui-radio"><input name="radio1" type="radio"
							value="F" ng-model="etudiant.sexe"><span>Femme</span></label>
					</div>
					<span style="color: red"
						ng-show="etudiantForm.sexe.$dirty && etudiantForm.sexe.$invalid">
						<span ng-show="etudiantForm.sexe.$error.required">Champ
							obligatoire.</span>
				</div>




				<div class="form-group">
					<label for="" class="col-sm-2">Date Naissance<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5" data-ng-controller="DatepickerDemoCtrl">
						<div class="input-group ui-datepicker">
							<input type="text" class="form-control"
								datepicker-popup="{{format}}" is-open="opened"
								datepicker-options="dateOptions"
								date-disabled="disabled(date, mode)" close-text="Fermer"
								clear-text="Effacer" current-text="Aujourd'hui"
								name="dateNaissance" ng-model="etudiant.dateNaissance" required>
							<span class="input-group-addon" ng-click="open($event)"><i
								class="fa fa-calendar"></i></span> <span style="color: red"
								ng-show="etudiantForm.dateNaissance.$dirty && etudiantForm.dateNaissance.$invalid">
								<span ng-show="etudiantForm.dateNaissance.$error.required"></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Lieu Naissance<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="lieuNaissance"
							minlength="1" maxlength="255" ng-model="etudiant.lieuNaissance"
							required> <span style="color: red"
							ng-show="etudiantForm.lieuNaissance.$dirty && etudiantForm.lieuNaissance.$invalid">
							<span ng-show="etudiantForm.lieuNaissance.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Nationalité<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="nationalite"
							minlength="1" maxlength="50" ng-model="etudiant.nationalite"
							required> <span style="color: red"
							ng-show="etudiantForm.nationalite.$dirty && etudiantForm.nationalite.$invalid">
							<span ng-show="etudiantForm.nationalite.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Téléphone</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="telephone"
							minlength="1" maxlength="20" ng-model="etudiant.telephone"
							placeholder="Exemple: +3367551398 ou 06.07.55.13.98"
							title="Exemple: +3367551398 ou 06.07.55.13.98"
							data-ng-pattern="/^(((\+\d{2,3})|0)\d{1})[ \.\-]?[0-9]{2}[ \.\-]?[0-9]{2}[ \.\-]?[0-9]{2}[ \.\-]?[0-9]{2}$/">
						<span style="color: red"
							ng-show="etudiantForm.telephone.$dirty && etudiantForm.telephone.$invalid">
							<span ng-show="etudiantForm.telephone.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>


				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Mobile</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="mobile"
							minlength="1" maxlength="20" ng-model="etudiant.mobile">
						<span style="color: red"
							ng-show="etudiantForm.mobile.$dirty && etudiantForm.mobile.$invalid">
							<span ng-show="etudiantForm.mobile.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Email<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">
						<input type="email" class="form-control" name="email"
							minlength="1" maxlength="255" ng-model="etudiant.email"
							placeholder="Exemple: exemple@exemple.fr"
							title="Exemple: exemple@exemple.fr"
							data-ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9._-]+$/"
							required>

					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">EmailUbo</label>
					<div class="col-sm-5">
						<input type="email" class="form-control" name="emailUbo"
							minlength="1" maxlength="255" ng-model="etudiant.emailUbo"
							placeholder="Exemple: exemple@univ-brest.fr"
							title="Exemple: exemple@univ-brest.fr"
							data-ng-pattern="/^[a-zA-Z0-9._-]+@univ-brest.fr$/"> <span
							style="color: red"
							ng-show="etudiantForm.emailUbo.$dirty && etudiantForm.emailUbo.$invalid">
							<span ng-show="etudiantForm.emailUbo.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>
				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Adresse<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="adresse"
							minlength="1" maxlength="255" ng-model="etudiant.adresse"
							required> <span style="color: red"
							ng-show="etudiantForm.adresse.$dirty && etudiantForm.adresse.$invalid">
							<span ng-show="etudiantForm.adresse.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Code Postal</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="codePostal"
							minlength="1" maxlength="10" ng-model="etudiant.codePostal"
							placeholder="Exemple: 29200 ou 29 200"
							title="Exemple: 29200 ou 29 200"
							data-ng-pattern="/^\d{2} ?\d{3}$/"> <span
							style="color: red"
							ng-show="etudiantForm.codePostal.$dirty && etudiantForm.codePostal.$invalid">
							<span ng-show="etudiantForm.codePostal.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Ville<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="ville" minlength="1"
							maxlength="255" ng-model="etudiant.ville" required> <span
							style="color: red"
							ng-show="etudiantForm.ville.$dirty && etudiantForm.ville.$invalid">
							<span ng-show="etudiantForm.ville.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Pays d'Origine<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">

						<select ng-model="etudiant.paysOrigine" name="paysEtudiant"
							class="form-control">
							<option ng-repeat="pays in paysEtudiant" class="capitalize"
								value="{{pays.rvLowValue}}" minlength="1" maxlength="5" required>{{pays.rvMeaning}}</option>
						</select>
					</div>
					<span style="color: red"
						ng-show="etudiantForm.paysEtudiant.$dirty && etudiantForm.paysEtudiant.$invalid">
						<span ng-show="etudiantForm.paysEtudiant.$error.required">Champ
							obligatoire.</span>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Université d'Origine<span
						id="required-field" style="color: red;"> (*) </span></label>
					<div class="col-sm-5">
						<select ng-model="etudiant.universiteOrigine" name="univOrigine"
							class="form-control">
							<option ng-repeat="univ in univOrigine" class="capitalize"
								value="{{univ.rvLowValue}}" minlength="1" maxlength="6" required>{{univ.rvMeaning}}</option>
						</select> <span style="color: red"
							ng-show="etudiantForm.univOrigine.$dirty && etudiantForm.univOrigine.$invalid">
							<span ng-show="etudiantForm.univOrigine.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">GroupeTp</label>
					<div class="col-sm-5">
						<input type="number" class="form-control" name="groupeTp"
							minlength="1" maxlength="16" min="1" max="2"
							ng-model="etudiant.groupeTp"> <span style="color: red"
							ng-show="etudiantForm.groupeTp.$dirty && etudiantForm.groupeTp.$invalid">
							<span ng-show="etudiantForm.groupeTp.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>

				<div class="form-group">
					<!--  div ng-message="required">Champ requis</div>-->
					<label for="" class="col-sm-2">Groupe d'Anglais</label>
					<div class="col-sm-5">
						<input type="number" class="form-control" name="groupeAnglais"
							minlength="1" maxlength="16" min="1" max="2"
							ng-model="etudiant.groupeAnglais"> <span
							style="color: red"
							ng-show="etudiantForm.groupeAnglais.$dirty && etudiantForm.groupeAnglais.$invalid">
							<span ng-show="etudiantForm.groupeAnglais.$error.required">Champ
								obligatoire.</span>
					</div>
				</div>

			</form>
			<!--  le ng-disabled grise le buton de submit tant que les champs sont vides -->

			<a class="btn btn-success" ng-click="submit()"
				ng-disabled="etudiantForm.noEtudiant.$dirty && etudiantForm.noEtudiant.$invalid || 
            				etudiantForm.nom.$dirty && etudiantForm.nom.$invalid || 
            				etudiantForm.telephone.$dirty && etudiantForm.telephone.$invalid || 
            				etudiantForm.mobile.$dirty && etudiantForm.mobile.$invalid || 
            				etudiantForm.emailUbo.$dirty && etudiantForm.emailUbo.$invalid || 
            				etudiantForm.codePostal.$dirty && etudiantForm.codePostal.$invalid || 
            				etudiantForm.groupeTp.$dirty && etudiantForm.groupeTp.$invalid || 
            				etudiantForm.groupeAnglais.$dirty && etudiantForm.groupeAnglais.$invalid || 
            				etudiantForm.prenom.$dirty && etudiantForm.prenom.$invalid || 
            				etudiantForm.sexe.$dirty && etudiantForm.sexe.$invalid ||
            				etudiantForm.dateNaissance.$dirty && etudiantForm.dateNaissance.$invalid || 
            				etudiantForm.lieuNaissance.$dirty && etudiantForm.lieuNaissance.$invalid ||
            				etudiantForm.nationalite.$dirty && etudiantForm.nationalite.$invalid || 
            				etudiantForm.email.$dirty &&etudiantForm.email.$invalid ||
            				etudiantForm.adresse.$dirty && etudiantForm.adresse.$invalid ||
            				etudiantForm.ville.$dirty && etudiantForm.ville.$invalid ||
            				etudiantForm.paysOrigine.$dirty && etudiantForm.paysOrigine.$invalid || 
            				etudiantForm.univOrigine.$dirty && etudiantForm.univOrigine.$invalid ||etudiantForm.$invalid">
				<span class="glyphicon glyphicon-ok"></span> Valider
			</a>

			<button class="btn btn-danger pull-right" ng-click="backPromotion()">
				Annuler</button>
			</br> </br> <span style="color: red;"> (*) Champ obligatoire</span>




		</div>
	</div>
</div>
</div>
