<div class="page page-table" data-ng-controller="PromotionsController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="fa fa-graduation-cap"></span> &nbsp;Promotions</strong>
         <span class="add fa fa-plus-square fa-lg pull-right" ng-click="ajoutPromotion()"></span>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Recherche"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Affiche {{filteredPromotion.length}}/{{promotions.length}}
                    </span>              
                </div>
            </div>
        </div> 

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                <th class="text-center"><div class="th">
                        Année
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('promotionPK.anneeUniversitaire') "
                              data-ng-class="{active: row == 'promotionPK.anneeUniversitaire'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-promotionPK.anneeUniversitaire') "
                              data-ng-class="{active: row == '-promotionPK.anneeUniversitaire'}"></span>
                    </div></th> 
                    <th class="text-center"><div class="th">
                        Formation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('promotionPK.codeFormation') "
                              data-ng-class="{active: row == 'promotionPK.codeFormation'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-promotionPK.codeFormation') "
                              data-ng-class="{active: row == '-promotionPK.codeFormation'}"></span>
                    </div></th>
                             
               		<th class="text-center"><div class="th">
                       Sigle promotion
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('siglePromotion') "
                              data-ng-class="{active: row == 'siglePromotion'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-siglePromotion') "
                              data-ng-class="{active: row == '-siglePromotion'}"></span>
                    </div></th>          
                    <th class="text-center"><div class="th">
                         Responsable
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('noEnseignant.nom') "
                              data-ng-class="{active: row == 'noEnseignant.nom'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-noEnseignant.nom') "
                              data-ng-class="{active: row == '-noEnseignant.nom'}"></span>
                    </div></th>
                     <th class="text-center"><div class="th">
                         
                        
                    </div></th>
                   
<!--                     <th></th> -->
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="p in currentPagePromotion" class="promotion">
                    <td >{{p.promotionPK.anneeUniversitaire}}</td>
                    <td >{{p.promotionPK.codeFormation}}</td>
                    <td align = "center">{{p.siglePromotion}}</td>
                    <td >{{p.noEnseignant.prenom}} {{p.noEnseignant.nom}}</td>
					<td><span tooltip-placement="top" tooltip="D&eacute;tail"
						tooltip-append-to-body="true" class="search fa fa-search"
						ng-click="showDetails(p)"></span>&nbsp;&nbsp;&nbsp;
						<span tooltip-placement="top" tooltip="Modifier"
						tooltip-append-to-body="true" class="edit fa fa-edit"
						ng-click="edit(p.promotionPK)"></span>&nbsp;&nbsp;&nbsp;
						<span tooltip-placement="top" tooltip="Supprimer"
						tooltip-append-to-body="true" class="remove fa fa-remove"
						ng-click="supprime(p.promotionPK)"></span></td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                      Afficher
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        éléments par page 
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true" 
                                last-text="Derni&egrave;re"
                                next-text="Suivant"
                                previous-text="Pr&eacute;c&eacute;dent"
                                first-text="Premi&egrave;re"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>
