<div class="page" ng-controller="FormationsUEController">
	<div class="panel panel-default for-edit">
		<div class="panel-heading">
			<strong><span class="fa fa-university"></span>&nbsp; Unité
				enseignement </strong>
		</div>
		<div class="panel-body">

			<!-- Consultation -->
			<div class="media animate">
				<button class="btn btn-warning pull-right" ng-click="updateUniteEnseignement(detailsUE)"><span class="glyphicon glyphicon-pencil"></span> Editer</button>
				<div class="media-body">
					<ul class="list-unstyled list-info">
						<li><span class="icon fa fa-book"></span> <label>Formation</label>
							{{detailsUE.uniteEnseignementPK.codeFormation}} <br /></li>
						<li><span class="icon fa fa-university"></span> <label>UE</label>
							{{detailsUE.uniteEnseignementPK.codeUe}} <br /></li>
						<li><span class="icon glyphicon glyphicon-briefcase"></span>
							<label>Enseignant responsable</label>
							{{detailsUE.noEnseignant.nom}} {{detailsUE.noEnseignant.prenom}}
						</li>
						<li><span class="icon glyphicon glyphicon-book"></span> <label>Semestre</label>
							{{detailsUE.semestre}}</li>
						<li><span class="icon glyphicon glyphicon-sort-by-order"></span>
							<label>Désignation</label> {{detailsUE.designation}}</li>
							<li><span class="icon glyphicon glyphicon-sort-by-order"></span>
							<label>Description</label> {{detailsUE.description}}</li>
						<li><span class="icon glyphicon glyphicon-folder-open"></span>
							<label>CM</label> {{detailsUE.nbhCm}}</li>
						<li><span class="icon glyphicon glyphicon-file"></span> <label>TD</label>
							{{detailsUE.nbhTd}}</li>
						<li><span class="icon glyphicon glyphicon-hdd"></span> <label>TP</label>
							{{detailsUE.nbhTp}}</li>
					</ul>		
				</div>
			</div>
			<hr/>
			<div class="panel-body table-responsive">
				<strong><span class="fa fa-bars"></span>&nbsp; &Eacute;l&eacute;ment
					Constitutif </strong> <span class="add fa fa-plus-square fa-lg pull-right"
					ng-click="ajoutElementConstitutif(detailsUE.uniteEnseignementPK)"></span>
					<p></p>
					</br>
				<table class="table table-hover" ng-show="elements.length">
					<thead>
						<tr>
							<th class="text-center">UE</th>
							<th class="text-center">EC</th>
							<th class="text-center">Responsable</th>
							<th class="text-center">Désignation</th>
							<th class="text-center">CM</th>
							<th class="text-center">TD</th>
							<th class="text-center">TP</th>
							<th></th>
						</tr>
					</thead>
					<tbody>

						<tr ng-repeat="ec in elements"
							ng-if="ec.elementConstitutifPK.codeEc!=empty">
							<td align="center">{{ec.elementConstitutifPK.codeUe}}</td>
							<td align="center">{{ec.elementConstitutifPK.codeEc}}</td>
							<td align="center">{{ec.noEnseignant.prenom}}
								{{ec.noEnseignant.nom}}</td>
							<td align="center">{{ec.designation}}</td>
							<td align="center">{{ec.nbhCm}}</td>
							<td align="center">{{ec.nbhTd}}</td>
							<td align="center">{{ec.nbhTp}}</td>
							<td class="formationUc"><span class="edit fa fa-edit"
								ng-click="updateElementConstitutif(ec)"></span>&nbsp;&nbsp;&nbsp;
								<span class="remove fa fa-remove"
								ng-click="supprimeEC(ec.elementConstitutifPK)"></span></td>
						</tr>


					</tbody>

				</table>
			</div>
			<a class="btn btn-primary" ng-click="retourDetailUe()"><span
				class="glyphicon glyphicon-arrow-left"></span> Retour</a>
		</div>
	</div>
</div>