<div class="page" ng-controller="FormationDetailsController">
	<div class="panel panel-default for-edit">
		<div class="panel-heading">
			<strong><span class="fa fa-book"></span> &nbsp;Formation </strong>
		</div>
		<div class="panel-body">

			<!-- Consultation -->
			<div class="media animate">
				<button class="btn btn-warning pull-right" ng-click="updateFormation(formation.codeFormation)"><span class="glyphicon glyphicon-pencil"></span> Editer</button>
				<div class="media-body">
					<ul class="list-unstyled list-info">
						<li><span class="icon fa fa-book"></span> <label>Formation</label>
							{{formation.codeFormation}} <br /></li>
						<li ng-show="formation.diplome=='D'"><span
							class="icon fa fa-graduation-cap"></span> <label>Diplome</label>
							Doctorat</li>
						<li ng-show="formation.n0Annee=='M'"><span
							class="icon fa fa-graduation-cap"></span> <label>Dipl&ocircme</label>
							Master</li>
						<li ng-show="formation.n0Annee=='L'"><span
							class="icon fa fa-graduation-cap"></span> <label>Dipl&ocircme</label>
							Licence</li>
						<li><span class="icon glyphicon glyphicon-sort-by-order"></span>
							<label>No. année</label> {{formation.n0Annee}}</li>
						<li><span class="icon glyphicon glyphicon-list-alt"></span> <label>D&eacutesignation</label>
							{{formation.nomFormation}}</li>
						<li ng-show="formation.doubleDiplome=='O'"><span
							class="icon glyphicon glyphicon-bookmark"></span> <label>Double
								Dipl&ocircme</label> Oui</li>
						<li ng-show="formation.doubleDiplome=='N'"><span
							class="icon glyphicon glyphicon-flag"></span> <label>Double
								Dipl&ocircme</label> Non</li>
						<li><span class="icon glyphicon glyphicon-calendar"></span> <label>Début
								d'accréditation</label>
							<td ng-click="edit(f)">{{formation.debutAccreditation |
								date:'dd/MM/yyyy'}}</td></li>
						<li><span class=" icon glyphicon glyphicon-calendar"></span>
							<label>Fin d'accréditation</label>
							<td ng-click="edit(f)">{{formation.finAccreditation |
								date:'dd/MM/yyyy'}}</td></li>
					</ul>
				</div>


			</div>

			<!-- Lister UE -->
			<hr/>
			<div class="row">
				<div class="col-md-12">
					<div class="panel-body table-dynamic">
						<strong><span class="fa fa-university"></span>
							&nbsp;Unité Enseignement </strong> <span
							class="add fa fa-plus-square fa-lg pull-right"
							ng-click="ajoutUniteEnseignement(formation.codeFormation)"></span>
						<p>
							</br>
						<div ng-show = "currentPageUE.length">
							<div class="table-filters">
								<div class="row">
									<div class="col-sm-4 col-xs-6">
										<form>
											<input type="text" placeholder="Recherche"
												class="form-control" data-ng-model="searchKeywords"
												data-ng-keyup="search()">
										</form>
									</div>
									<div class="col-sm-3 col-xs-6 filter-result-info">
										<span> Affiche
											{{filteredUE.length}}/{{formation.ue.length}} </span>
									</div>
								</div>
								</br>
							</div>
							<table class="table  table-responsive table-hover">
								<thead class="new" >
									<tr>
										<th class="text-center">Formation</th>
										<th class="text-center">UE</th>
										<th class="text-center">Enseignant responsable</th>
										<th class="text-center">Semestre</th>
										<th class="text-center">Désignation</th>
										<th class="text-center">CM</th>
										<th class="text-center">TD</th>
										<th class="text-center">TP</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="u in currentPageUE">
										<td align="center">{{u.uniteEnseignementPK.codeFormation}}</td>
										<td align="center">{{u.uniteEnseignementPK.codeUe}}</td>
										<td align="center">{{u.noEnseignant.nom}}
											{{u.noEnseignant.prenom}}</td>
										<td align="center">{{u.semestre}}</td>
										<td align="center">{{u.designation}}</td>
										<td align="center">{{u.nbhCm}}</td>
										<td align="center">{{u.nbhTd}}</td>
										<td align="center">{{u.nbhTp}}</td>
										<td class="formationUe" align="centre">&nbsp;&nbsp;&nbsp;
											<span class="search fa fa-search" ng-click="detailsUe(u)"></span>&nbsp;&nbsp;&nbsp;
											<span class="edit fa fa-edit"
											ng-click="updateUniteEnseignement(u)"></span>&nbsp;&nbsp;&nbsp;
											<span class="remove fa fa-remove" ng-click="supprimeUE(u)"></span>
										</td>
									</tr>
								</tbody>
							</table>
							</br>
							<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span> Afficher <select data-ng-model="numPerPage"
										data-ng-options="num for num in numPerPageOpt"
										data-ng-change="onNumPerPageChange()">
									</select> éléments par page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm" ng-model="currentPage"
										total-items="filteredUE.length" max-size="4"
										ng-change="select(currentPage)" items-per-page="numPerPage"
										rotate="false" boundary-links="true"
										last-text="Derni&egrave;re" next-text="Suivant"
										previous-text="Pr&eacute;c&eacute;dent"
										first-text="Premi&egrave;re"></pagination>
								</div>
							</div>
						</footer>
						</div>

					</div>
				</div>

			</div>



			<script>
				var app = angular.module('myApp', [
					'ngAnimate'
				]);
			</script>
			<a class="btn btn-primary" href="#/admin/formations"><span
				class="glyphicon glyphicon-arrow-left"></span> Retour</a>

		</div>
	</div>
</div>

