<div class="page" ng-controller="FormationDetailsController">
	<div class="panel panel-default for-edit">
		<div class="panel-heading">
			<strong><span class="fa fa-book"></span>&nbsp;Formation
			</strong>
		</div>
		<div class="panel-body">
			<!-- Edition -->
			<div ng-show="edit">
				<form class="form-horizontal form-validation" name="formationForm">
					<div class="form-group">
						<label for="" class="col-sm-2">Formation<span
							id="required-field" style="color: red;"> (*) </span></label>
						<div class="col-sm-5">
							<input ng-disabled="frm" type="text" class="form-control" name="code" minlength="1"
								maxlength="8" ng-model="formation.codeFormation"  ng-required="true"> 
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Diplôme<span
							id="required-field" style="color: red;"> (*) </span></label>
						<div class="col-sm-5">
							<span> <select name="diplome" name="doubelDiplome" class="form-control"
								ng-model="formation.diplome"
								ng-options="diplome.rvLowValue as diplome.rvMeaning for diplome in listdiplome"
								ng-required="true"
								class="form-control">
							</select>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">No. année<span
							id="required-field" style="color: red;"> (*) </span></label>
						<div class="col-sm-5">
							<input type="number" class="form-control" name="n0Annee" min="1" max="4"
								ng-model="formation.n0Annee" 
								placeholder="minimum = 1, maximum = 4" 
								title="minimum = 1, maximum = 4" required>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Nom formation<span
							id="required-field" style="color: red;"> (*) </span></label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="nomFormation" minlength="1" maxlength="64"
								ng-model="formation.nomFormation" ng-required="true">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Double diplôme<span
							id="required-field" style="color: red;"> (*) </span></label>
						<div class="col-sm-5">
							<span> <select class="form-control" class="ui-select" name="doubelDiplome"
								ng-model="formation.doubleDiplome"
								ng-options="ouinon.rvLowValue as ouinon.rvMeaning for ouinon in listouinon"
								ng-required="true"></select> 
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Début d'accréditation</label>
								<div class="col-sm-5" data-ng-controller="DatepickerDemoCtrl">
									<div class="input-group ui-datepicker">
										<input type="text" class="form-control"
											datepicker-popup="{{format}}"
											ng-model="formation.debutAccreditation" is-open="opened"
											min="minDate" max="'2015-06-22'"
											datepicker-options="dateOptions"
											date-disabled="disabled(date, mode)"
											close-text="Fermer" clear-text="Effacer"
											current-text="Aujourd'hui" name="debutAccreditation">
										<span class="input-group-addon" ng-click="open($event)"><i
											class="fa fa-calendar"></i></span>
									</div>
								</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Fin d'accréditation</label>
								<div class="col-sm-5" data-ng-controller="DatepickerDemoCtrl">
									<div class="input-group ui-datepicker">
										<input type="text" class="form-control"
											datepicker-popup="{{format}}"
											ng-model="formation.finAccreditation" is-open="opened"
											min="formation.debutAccreditation" max="'2015-06-22'"
											datepicker-options="dateOptions"
											date-disabled="disabled(date, mode)"
											close-text="Fermer" clear-text="Effacer"
											current-text="Aujourd'hui" name="finAccreditation"> <span
											class="input-group-addon" ng-click="open($event)"><i
											class="fa fa-calendar"></i></span>
									</div>
								</div>
					</div>
				</form>
				<a class="btn btn-success" ng-click="submit()"
					ng-disabled="formationForm.code.$dirty && formationForm.code.$error.required || 
						            				formationForm.diplome.$dirty && formationUeForm.diplome.$invalid ||
						            				formationForm.n0Annee.$dirty && formationUeForm.n0Annee.$invalid ||
						            				formationForm.nomFormation.$dirty && formationUeForm.nomFormation.$invalid ||
						            				formationForm.doubelDiplome.$dirty && formationUeForm.doubeeDiplome.$invalid ||
                                                    formationForm.$invalid">
					<span class="glyphicon glyphicon-ok"></span> Valider
				</a>
				
				
						            				
						          
                                                    
				<button class="btn btn-danger pull-right" ng-click="cancel()">
					Annuler</button></br>
			</br>
			<span style="color: red;"> (*) Champ obligatoire</span>
			</div>
		</div>
	</div>
</div>

