<div class="page page-table" data-ng-controller="FormationsController">

    <section class="panel panel-default table-dynamic">
    <div class="panel-heading"><strong><span class="fa fa-book"></span> &nbsp;Formations</strong>
         <span class="add fa fa-plus-square fa-lg pull-right" ng-click="ajoutFormation()"></span> 
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Recherche"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Afficher {{filteredFormationsSize}}/{{formationsSize}}
                    </span>              
                </div>
            </div>
        </div> 
        
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class="text-center"><div class="th">
                     Formation 
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('codeFormation') "
                              data-ng-class="{active: row == 'codeFormation'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-codeFormation') "
                              data-ng-class="{active: row == '-codeFormation'}"></span>
                    </div></th>
                    <th class="text-center"><div class="th">
                        Diplôme
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('n0Annee') "
                              data-ng-class="{active: row == 'n0Annee'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-n0Annee') "
                              data-ng-class="{active: row == '-n0Annee'}"></span>
                    </div></th>                    
                    <th class="text-center"><div class="th">
                        Désignation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('nomFormation') "
                              data-ng-class="{active: row == 'nomFormation'}"></span>
                        <span class="text-center glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-nomFormation') "
                              data-ng-class="{active: row == '-nomFormation'}"></span>
                    </div></th>
                    <th class="text-center"><div class="th">
                        Double diplôme
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('doubleDiplome') "
                              data-ng-class="{active: row == 'doubleDiplome'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-doubleDiplome') "
                              data-ng-class="{active: row == '-doubleDiplome'}"></span>
                    </div></th>
                    <th class="text-center"><div class="th">
                        Accréditation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('debutAccreditation') "
                              data-ng-class="{active: row == 'debutAccreditation'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-debutAccreditation') "
                              data-ng-class="{active: row == '-debutAccreditation'}"></span>
                    </div></th>
     <th></th> 
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="f in currentPageFormation" >
                    <td align="center">{{f.codeFormation}}</td>
                    <td align="center"  ng-show="f.diplome=='D'"> Doctorat {{f.n0Annee}} </td>
                    <td align="center"  ng-show="f.diplome=='M'"> Master {{f.n0Annee}} </td>
                    <td align="center"  ng-show="f.diplome=='L'"> Licence {{f.n0Annee}} </td>
                     <td >{{f.nomFormation}}</td>
                    <td align="center" ng-click="edit(f.codeFormation)"  ng-show="f.doubleDiplome=='O'"> Oui </td>
                    <td align="center" ng-click="edit(f.codeFormation)"  ng-show="f.doubleDiplome=='N'"> Non </td>
                    <td align="center" ng-show="f.debutAccreditation && f.finAccreditation">du {{f.debutAccreditation  | date:'dd/MM/yyyy'}}  &agrave; {{f.finAccreditation  | date:'dd/MM/yyyy'}}</td>
                    <td align="center" ng-show="f.debutAccreditation && !f.finAccreditation">A partir du {{f.debutAccreditation  | date:'dd/MM/yyyy'}}</td>
                    <td align="center" ng-show="!f.debutAccreditation && f.finAccreditation">Jusqu'au {{f.finAccreditation  | date:'dd/MM/yyyy'}}</td>
                    <td align="center" ng-show="!f.debutAccreditation && !f.finAccreditation"></td>
					<td class="formation" > 
						<span class="search fa fa-search" ng-click="showDetails(f.codeFormation)"></span>&nbsp;&nbsp;&nbsp;
                        <span class="edit fa fa-edit" ng-click="updateFormation(f.codeFormation)"></span>&nbsp;&nbsp;&nbsp;
                        <span class="remove fa fa-remove" ng-click="supprime(f.codeFormation)"></span> 
                    </td>
                </tr>
               

            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Afficher 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        &eacutel&eacutements par page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredFormation.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"
                                previous-text="Précédent"
                                first-text="Premiére"
                                last-text="Derniére"
                                 next-text="Suivant"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>
