<div class="page" ng-controller="RubriqueDetailsController">
	<div class="panel panel-default ens-edit">
		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th-list"></span>&nbsp;Rubriques standard</strong>
		</div>
		<div class="panel-body">
			<!-- Consultation -->
			<div class="media animate" ng-hide="edit">
				<button class="btn btn-warning pull-right" ng-click="edition()">
					<span class="glyphicon glyphicon-pencil"></span> Editer
				</button>
				<div class="media-body">
					<ul class="list-unstyled list-info">
						<li><span class="icon glyphicon glyphicon-user"></span> <label>D&eacutesignation</label>
							{{rubrique.designation}}<br /></li>
					  <li ng-if="rubrique.type=='RBS'">
                        <span class="icon glyphicon glyphicon-paperclip"></span>
                        <label>Type</label>
                        Rubrique standard<br/>
                    </li>
                    <li ng-if="rubrique.type=='RBP'">
                        <span class="icon glyphicon glyphicon-paperclip"></span>
                        <label>Type</label>
                        Rubrique personnalisée<br/>
                    </li>
						<li><span class="icon glyphicon glyphicon-home"></span> <label>Ordre</label>
							{{rubrique.ordre}}</li>
					</ul>
				</div>
				<a class="btn btn-primary" href="#/admin/rubriques"><span
					class="glyphicon glyphicon-arrow-left"></span> Retour</a>
			</div>

			<!-- Edition -->
			<div ng-show="edit">
				<form class="form-horizontal" novalidate name="rubriqueForm">
					<div class="form-group">
						<label for="" class="col-sm-2">D&eacutesignation<span id="required-field" style="color: red;"> (*) </span></label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="designation" minlength="1" maxlength="16"
								ng-model="rubrique.designation" required>
							<span style="color:red" ng-show="rubriqueForm.designation.$dirty && rubriqueForm.designation.$invalid">
							<span ng-show="rubriqueForm.designation.$error.required">Champ obligatoire.</span>
						</div>
					</div>
<!-- 					<div class="form-group"> -->
<!-- 						<label for="" class="col-sm-2">Type</label> -->
<!-- 						<span class="ui-select"> -->
<!-- 							<select ng-model="rubrique.type" name="type" required>  -->
<!-- 								<option ng-repeat="t in types" value="{{t.type}}">  {{t.type}} </option> -->
<!-- 							</select> -->
<!-- 							<span style="color:red" ng-show="rubriqueForm.type.$dirty && rubriqueForm.type.$invalid"> -->
<!-- 							<span ng-show="rubriqueForm.type.$error.required">Le type est obligatoire.</span> -->
<!-- 						</span> -->
<!-- 					</div> -->
					<div class="form-group">
						<label for="" class="col-sm-2">Ordre</label>
						<div class="col-sm-5">
							<input type="number" class="form-control" name="ordre" min="1"
								ng-model="rubrique.ordre">
							<span style="color:red" ng-show="rubriqueForm.ordre.$dirty && rubriqueForm.ordre.$invalid">
							<span ng-show="rubriqueForm.ordre.$error">L'ordre doit &ecirc;tre superieur &agrave; 0 </span>
						</div>
					</div>
				</form>
				<a class="btn btn-success" ng-click="submit()"
					ng-disabled="rubriqueForm.designation.$dirty && rubriqueForm.designation.$invalid || 
           				rubriqueForm.type.$dirty && rubriqueForm.type.$invalid || 
           				rubriqueForm.ordre.$dirty && rubriqueForm.ordre.$invalid || 
           				rubriqueForm.$invalid">
        			<span class="glyphicon glyphicon-ok"></span> Valider</a>
				<button class="btn btn-danger pull-right" ng-click="cancel()">
					Annuler</button>
				</br></br><span style="color: red;" > (*) Champ obligatoire</span>
			</div>
		</div>
	</div>
</div>