<div class="page page-table" data-ng-controller="RubriquesController">

<div class="col-md-9">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th-list"></span>&nbsp;Rubriques standard</strong>
        <span class="add fa fa-plus-square fa-lg pull-right" ng-click="ajoutRubrique()"></span>
        </div>

          <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Recherche"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Affiche {{filteredRubriquesSize}}/{{rubriquesSize}}
                    </span>              
                </div>
            </div>
        </div>  

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
	               		<th class="text-center"><div class="th">
	                        Ordre
	                        <span class="glyphicon glyphicon-chevron-up"
	                              data-ng-click=" order('ordre') "
	                              data-ng-class="{active: row == 'ordre'}"></span>
	                        <span class="glyphicon glyphicon-chevron-down"
	                              data-ng-click=" order('-ordre')"
	                              data-ng-class="{active: row == '-ordre'}"
	                              ></span>
	                    	</div>
	                 	</th>
                    <th class="text-center"><div class="th">
                        D&eacute;signation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('designation') "
                              data-ng-class="{active: row == 'designation'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-designation') "
                              data-ng-class="{active: row == '-designation'}"></span>
                    </div></th>                    
                    <th></th>
<!--                     <th><div class="th"> -->
<!--                         Type -->
<!--                         <span class="glyphicon glyphicon-chevron-up" -->
<!--                               data-ng-click=" order('type') " -->
<!--                               data-ng-class="{active: row == 'type'}"></span> -->
<!--                         <span class="glyphicon glyphicon-chevron-down" -->
<!--                               data-ng-click=" order('-type') " -->
<!--                               data-ng-class="{active: row == '-type'}"></span> -->
<!--                     </div></th> -->                
                </tr>
            </thead>
            <tbody><!-- currentPageRubrique / rubriques -->
                <tr data-ng-repeat="r in currentPageRubriques" class="rubrique">
                    <td align="center">{{r.ordre}}</td>
                    <td align="center">{{r.designation}}</td>
<!--                     <td ng-click="edit(r.idRubrique)">{{r.type}}</td> -->
                    <td class="rubrique">
                    <span class="edit fa fa-edit" ng-click="edit(r.idRubrique)"></span>&nbsp;&nbsp;&nbsp;
                    <span class="remove fa fa-remove" ng-click="supprime(r.idRubrique)"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Afficher 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        éléments par page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredRubriques.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"
                                last-text="Derni&egrave;re"
                                next-text="Suivant"
                                previous-text="Pr&eacute;cedent"
                                first-text="Premi&egrave;re"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>
</div>
