<div class="page" ng-controller="EvaluationsControllerDetails">

	<style>
.marg {
	margin: -4px;
	font-size: 12px;
	line-height: 1.2;
}

.dev {
	width: 10.333%;
}
</style>
	<div class="panel panel-default ens-edit">
		<div class="panel-heading">
			<strong><span class=" fa fa-check-square-o fa-lg"></span>
				&nbsp;D&Eacute;TAILS</strong>
		</div>
		<div class="panel-body">
			<!-- Consultation des details d'un evaluation -->

			<div class="media animate">
				<button class="btn btn-warning pull-right"
					ng-click="edition(evaluation.idEvaluation)">
					<span class="glyphicon glyphicon-pencil"></span> Editer
				</button>
				<div class="col-md-5">
					<div class="media-body">
						<ul class="list-unstyled list-info">
							<li><span class="icon glyphicon glyphicon-barcode"></span> <label>N&deg;
									&Eacute;valuation </label> {{evaluation.noEvaluation}}<br /></li>
							<li><span class="icon glyphicon glyphicon-stats"></span> <label>&Eacute;tat
							</label> {{etatMeaning}}<br /></li>
							<li><span class="icon glyphicon glyphicon-calendar"></span>
								<label>D&eacute;but r&eacute;ponse</label>
								{{evaluation.debutReponse | date :'dd/MM/yyyy'}}<br /></li>
							<li><span class="icon fa fa-graduation-cap"></span> <label>Promotion</label>
								{{evaluation.codeFormation}} &nbsp; {{evaluation.annee}} <br /></li>
							<li><span class="icon fa fa-university"></span> <label>&Eacute;l&eacute;ments
									Constitutif</label> {{selectedEC.designation}} <br /></li>
						</ul>
					</div>
				</div>
				<div class="col-md-5">
					<div class="media-body">
						<ul class="list-unstyled list-info">
							<li><span class="icon glyphicon glyphicon-th-large"></span>
								<label>D&eacute;signation</label> {{evaluation.designation}}<br /></li>
							<li><span class="icon glyphicon glyphicon-time"></span> <label>P&eacute;riode</label>
								{{evaluation.periode}}<br /></li>
							<li><span class="icon glyphicon glyphicon-calendar"></span>
								<label>Fin r&eacute;ponse</label> {{evaluation.finReponse | date
								:'dd/MM/yyyy'}}<br /></li>
							<li><span class="icon fa fa-university"></span> <label>Unit&eacute;
									d'enseignement</label> {{selectedUE.designation}} <br /></li>
						</ul>
					</div>
				</div>
				<!-- Modal Rubrique -->
				<!-- 		<section class="panel panel-default"> -->
				<script type="text/ng-template" id="myModalContent.html">
        		<div class="modal-header">
         		   <h4 class="modal-title">Rubrique</h4>
        		</div>
        		<div class="modal-body">
        			<ul>
                		<li ng-repeat="item in items">
                    		<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item.designation }}</a>
                		</li>
		            </ul>
					<div class="row">
						<div class="col-sm-10">
					    	Rubrique choisi: <b>{{ selected.item.designation }}</b>             
						</div> 
               		</div>	
        		</div>
        		<div class="modal-footer">
            		<button class="btn btn-primary" type="button" ng-click="ok()">Ajouter</button>
            		<button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
        		</div>
    		</script>
				<!-- 		</section> -->
				<!-- Modal Question -->
				<!-- 		<section class="panel panel-default"> -->
				<script type="text/ng-template" id="Question.html">
		        <div class="modal-header">
        		    <h4 class="modal-title">Question</h4>
        		</div>
        		<div class="modal-body">
            		<ul>
                		<li ng-repeat="itemQuestion in itemsQuestEval">
                    		<a href="#" ng-click="$event.preventDefault(); selectedQuestion.itemQuestion = itemQuestion">{{ itemQuestion.intitule }}</a>
                		</li>
            		</ul>
					<div class="row">
						<div class="col-sm-10">
            				Question choisi: <b>{{ selectedQuestion.itemQuestion.intitule }}</b>             
						</div>
                	</div>	
        		</div>
        		<div class="modal-footer">
            		<button class="btn btn-primary" type="button" ng-click="ok()">Ajouter</button>
            		<button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
        		</div>
    		</script>
				<!-- 		</section> -->
				<div class="row">


					<div class="col-md-12">
						<!-- Accordion -->
						<section class="panel panel-dark">
							<div class="panel-heading">
								<strong>Rubriques &eacute;valuation</strong> <span ng-show="evaluation.etat == 'ELA'"
									class="marg btn btn-success fa fa-plus pull-right"
									ng-click="open(evaluation.idEvaluation)"></span>


							</div>
							<div class="panel-body" data-ng-controller="AccordionDemoCtrl">
								<div class="dev pull-right">
									<p>Par rubrique</p>
									<label class="switch switch-success"><input
										type="checkbox" ng-model="oneAtATime"><i></i></label>

								</div>

								<div class="row">
									<div class="col-lg-12">
										<accordion close-others="oneAtATime"
											class="ui-accordion ui-accordion-info"> <accordion-group
											ng-repeat="rubeval in serviceRE.rubriqueevaluation">
										<accordion-heading> {{rubeval.designation
										? rubeval.designation : rubeval.idRubrique.designation}} <span
											tooltip="Supprimer Rubrique" tooltip-append-to-body="true" ng-show="evaluation.etat == 'ELA'"
											class="pull-right remove fa fa-remove"
											ng-click="supprimeRubriqueEvaluation(rubeval.idRubriqueEvaluation)"
											tooltip-append-to-body="true" tooltip="Supprimer"
											tooltip-placement="top"></span> </accordion-heading> <span ng-show="evaluation.etat == 'ELA'"
											tooltip="Ajouter Question" tooltip-append-to-body="true"
											class="add fa fa-plus pull-right"
											ng-click="openQuestion(evaluation.idEvaluation,rubeval.idRubriqueEvaluation)"></span>
										<br>
										<table class="table table-hover">
											<tbody>
												<tr
													data-ng-repeat="quest in rubeval.questionEvaluationCollection">
													<td>{{quest.intitule ? quest.intitule :
														quest.idQuestion.intitule}}</td>
													<td>{{quest.idQuestion.idQualificatif.minimal}}</td>
													<td>{{quest.idQuestion.idQualificatif.maximal}}</td>
													<td><span tooltip-placement="top" ng-show="evaluation.etat == 'ELA'"
														tooltip="Supprimer Question" tooltip-append-to-body="true"
														class="remove fa fa-remove"
														ng-click="supprimeQuestionEvaluation(rubeval.idRubriqueEvaluation,quest.idQuestionEvaluation)"></span></td>
												</tr>
											</tbody>
										</table>


										</accordion-group> </accordion>
									</div>
								</div>
							</div>
						</section>
						<!-- end Accordion -->
					</div>
				</div>
				<a class="btn btn-primary" href="#/ens/evaluations"><span
					class="glyphicon glyphicon-arrow-left"></span> Retour</a>
			</div>
		</div>
	</div>
</div>