<div class="page" ng-controller="EvaluationsEtudiantController">
	<section class="panel panel-default table-dynamic">
		<div class="panel-heading">
			<strong><span class="fa fa-check-square-o fa-lg"></span>&nbsp;
				Evaluations </strong>
			<!-- 				<span class="add fa fa-user-plus pull-right" -->
			<!-- 				ng-click="ajoutEvaluation()"></span> -->
		</div>


		<div class="table-filters">
			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<form>
						<input type="text" placeholder="Rechercher" class="form-control"
							data-ng-model="searchKeywords" data-ng-keyup="search()">
					</form>
				</div>
				<div class="col-sm-3 col-xs-6 filter-result-info">
					<span> Affiche
						{{filteredEvaluation.length}}/{{evaluations.length}} </span>
				</div>
			</div>
		</div>


		<table class="table table-bordered table-striped table-responsive">

			<thead>
				<tr>
					<th class="text-center"><div class="th">
							Ann&eacute;e<span class="glyphicon glyphicon-chevron-up"
								data-ng-click=" order('evaluation.annee') "
								data-ng-class="{active: row == 'evaluation.annee'}"></span> <span
								class="glyphicon glyphicon-chevron-down"
								data-ng-click=" order('-evaluation.annee') "
								data-ng-class="{active: row == '-evaluation.annee'}"></span>
						</div></th>
					<th class="text-center"><div class="th">
							Formation <span class="glyphicon glyphicon-chevron-up"
								data-ng-click=" order('evaluation.codeFormation') "
								data-ng-class="{active: row == 'evaluation.codeFormation'}"></span> <span
								class="glyphicon glyphicon-chevron-down"
								data-ng-click=" order('-evaluation.codeFormation') "
								data-ng-class="{active: row == '-evaluation.codeFormation'}"></span>
						</div></th>
					<th class="text-center"><div class="th">
							No Evaluation <span class="glyphicon glyphicon-chevron-up"
								data-ng-click=" order('evaluation.noEvaluation') "
								data-ng-class="{active: row == 'evaluation.noEvaluation'}"></span> <span
								class="glyphicon glyphicon-chevron-down"
								data-ng-click=" order('-evaluation.noEvaluation') "
								data-ng-class="{active: row == '-evaluation.noEvaluation'}"></span>
						</div></th>
					<th class="text-center"><div class="th">
							UE <span class="glyphicon glyphicon-chevron-up"
								data-ng-click=" order('evaluation.codeUe') "
								data-ng-class="{active: row == 'evaluation.codeUe'}"></span> <span
								class="glyphicon glyphicon-chevron-down"
								data-ng-click=" order('-evaluation.codeUe') "
								data-ng-class="{active: row == '-evaluation.codeUe'}"></span>
						</div></th>
					<th class="text-center"><div class="th">
							EC <span class="glyphicon glyphicon-chevron-up"
								data-ng-click=" order('evaluation.codeEc') "
								data-ng-class="{active: row == 'evaluation.codeEc'}"></span> <span
								class="glyphicon glyphicon-chevron-down"
								data-ng-click=" order('-evaluation.codeEc') "
								data-ng-class="{active: row == '-evaluation.codeEc'}"></span>
						</div></th>
					<th class="text-center"><div class="th">
							D&eacute;signation <span class="glyphicon glyphicon-chevron-up"
								data-ng-click=" order('evaluation.designation') "
								data-ng-class="{active: row == 'evaluation.designation'}"></span> <span
								class="glyphicon glyphicon-chevron-down"
								data-ng-click=" order('-evaluation.designation') "
								data-ng-class="{active: row == '-evaluation.designation'}"></span>
						</div></th>
					<th class="text-center"><div class="th">
							&Eacute;tat <span class="glyphicon glyphicon-chevron-up"
								data-ng-click=" order('evaluation.etat') "
								data-ng-class="{active: row == 'evaluation.etat'}"></span> <span
								class="glyphicon glyphicon-chevron-down"
								data-ng-click=" order('-evaluation.etat') "
								data-ng-class="{active: row == '-evaluation.etat'}"></span>
						</div></th>
					<th class="text-centre"></th>
				</tr>
			</thead>
			<tbody>
				<!-- currentPageEnseignant / evaluations -->
				<tr data-ng-repeat="evaluation in currentPageEvaluation"
					class="evaluation">
					<td class="text-center">{{evaluation.evaluation.annee}}</td>
					<td class="text-center">{{evaluation.evaluation.codeFormation}}</td>
					<td class="text-center">{{evaluation.evaluation.noEvaluation}}</td>
					<td class="text-center">{{evaluation.evaluation.codeUe}}</td>
					<td class="text-center">{{evaluation.evaluation.codeEc}}</td>
					<td>{{evaluation.evaluation.designation}}</td>
					<td class="text-center" ng-show="evaluation.evaluation.etat == 'CLO'">Cl&ocirc;tur&eacute;</td>
					<td class="text-center" ng-show="evaluation.evaluation.etat == 'DIS'">Mise &agrave;
						disposition</td>
					<td><span tooltip-placement="top" tooltip="D&eacute;tail"
						tooltip-append-to-body="true" class="search fa fa-search"
						ng-click="showDetailsEtudEva(evaluation.evaluation.idEvaluation)"></span>&nbsp;&nbsp;&nbsp;
						</td>
				</tr>
			</tbody>
		</table>
		<footer class="table-footer">
			<div class="row">
				<div class="col-md-6 page-num-info">
					<span> Afficher <select data-ng-model="numPerPage"
						data-ng-options="num for num in numPerPageOpt"
						data-ng-change="onNumPerPageChange()">
					</select> &eacute;l&eacute;ments par page
					</span>
				</div>
				<div class="col-md-6 text-right pagination-container">
					<pagination class="pagination-sm" ng-model="currentPage"
						total-items="filteredEvaluation.length" max-size="4"
						ng-change="select(currentPage)" items-per-page="numPerPage"
						rotate="false" boundary-links="true" last-text="Derni&egrave;re"
						next-text="Suivant" previous-text="Pr&eacute;cedent"
						first-text="Premi&egrave;re"></pagination>
				</div>
			</div>
		</footer>
	</section>
</div>
