<div class="page" ng-controller="EvaluationsController">
	<section class="panel panel-default table-dynamic">
		<div class="panel-heading">
			<strong><span class="fa fa-check-square-o fa-lg"></span>&nbsp;
				Evaluations </strong> <span class="add fa  fa-plus-square fa-lg  pull-right"
				ng-click="ajoutEvaluation()"></span>
		</div>


		<div class="table-filters">
			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<form>
						<input type="text" placeholder="Rechercher" class="form-control"
							data-ng-model="searchKeywords" data-ng-keyup="search()">
					</form>
				</div>
				<div class="col-sm-3 col-xs-6 filter-result-info">
					<span> Affiche
						{{filteredEvaluation.length}}/{{evaluations.length}} </span>
				</div>
			</div>
		</div>


		<table class="table table-bordered table-striped table-responsive">

			<thead>
				<tr>
					<th class="text-centre"><div class="th">
							Ann&eacute;e<span class="glyphicon glyphicon-chevron-up"
								data-ng-click=" order('annee') "
								data-ng-class="{active: row == 'annee'}"></span> <span
								class="glyphicon glyphicon-chevron-down"
								data-ng-click=" order('-intitule') "
								data-ng-class="{active: row == '-annee'}"></span>
						</div></th>
					<th class="text-centre"><div class="th">
							Formation <span class="glyphicon glyphicon-chevron-up"
								data-ng-click=" order('code_formation') "
								data-ng-class="{active: row == 'code_formation'}"></span> <span
								class="glyphicon glyphicon-chevron-down"
								data-ng-click=" order('-code_formation') "
								data-ng-class="{active: row == '-code_formation'}"></span>
						</div></th>
					<th class="text-centre"><div class="th">
							D&eacute;signation <span class="glyphicon glyphicon-chevron-up"
								data-ng-click=" order('designation') "
								data-ng-class="{active: row == 'designation'}"></span> <span
								class="glyphicon glyphicon-chevron-down"
								data-ng-click=" order('-designation') "
								data-ng-class="{active: row == '-designation'}"></span>
						</div></th>
					<th class="text-centre"><div class="th">
							P&eacute;riode <span class="glyphicon glyphicon-chevron-up"
								data-ng-click=" order('periode') "
								data-ng-class="{active: row == 'periode'}"></span> <span
								class="glyphicon glyphicon-chevron-down"
								data-ng-click=" order('-periode') "
								data-ng-class="{active: row == '-periode'}"></span>
						</div></th>
					<th class="text-centre"><div class="th">
							&Eacute;tat <span class="glyphicon glyphicon-chevron-up"
								data-ng-click=" order('etat') "
								data-ng-class="{active: row == 'etat'}"></span> <span
								class="glyphicon glyphicon-chevron-down"
								data-ng-click=" order('-etat') "
								data-ng-class="{active: row == '-etat'}"></span>
						</div></th>
					<th class="text-centre"></th>
				</tr>
			</thead>
			<tbody>
				<!-- currentPageEnseignant / evaluations -->
				<tr data-ng-repeat="evaluation in currentPageEvaluation"
					class="evaluation">
					<td>{{evaluation.annee}}</td>
					<td>{{evaluation.codeFormation}}</td>
					<td>{{evaluation.designation}}</td>
					<td>{{evaluation.periode}}</td>
					<td ng-show="evaluation.etat == 'CLO'">Cl&ocirc;tur&eacute;</td>
					<td ng-show="evaluation.etat == 'ELA'">En cours
						d'&eacute;laboration</td>
					<td ng-show="evaluation.etat == 'DIS'">Mise &agrave;
						disposition</td>
					<td><span tooltip-placement="top" tooltip="D&eacute;tail"
						tooltip-append-to-body="true" class="search fa fa-search"
						ng-click="showDetails(evaluation.idEvaluation)"></span>&nbsp;&nbsp;&nbsp;
						<span tooltip-placement="top" tooltip="Modifier"
						tooltip-append-to-body="true" class="edit fa fa-edit"
						ng-click="edit(evaluation.idEvaluation)"></span>&nbsp;&nbsp;&nbsp;
						<span tooltip-placement="top" tooltip="Supprimer"
						tooltip-append-to-body="true" class="remove fa fa-remove"
						ng-click="supprime(evaluation.idEvaluation)"></span></td>
				</tr>
			</tbody>
		</table>
		<footer class="table-footer">
			<div class="row">
				<div class="col-md-6 page-num-info">
					<span> Afficher <select data-ng-model="numPerPage"
						data-ng-options="num for num in numPerPageOpt"
						data-ng-change="onNumPerPageChange()">
					</select> &eacute;l&eacute;ments par page
					</span>
				</div>
				<div class="col-md-6 text-right pagination-container">
					<pagination class="pagination-sm" ng-model="currentPage"
						total-items="filteredEvaluation.length" max-size="4"
						ng-change="select(currentPage)" items-per-page="numPerPage"
						rotate="false" boundary-links="true" last-text="Derni&egrave;re"
						next-text="Suivant" previous-text="Pr&eacute;cedent"
						first-text="Premi&egrave;re"></pagination>
				</div>
			</div>
		</footer>
	</section>
</div>
