<div class="page" ng-controller="EnsDetailsController">
  <div class="panel panel-default ens-edit">
    <div class="panel-heading"><strong><span class="fa fa-users"></span>&nbsp;&nbsp;Enseignant</strong></div>
    <div class="panel-body" style="padding-left: 30px;">
        <!-- Consultation -->
        <div class="media animate" ng-hide="edit">
            <button class="btn btn-warning pull-right" ng-click="updateEnseignant(enseignant.noEnseignant)"><span class="glyphicon glyphicon-pencil"></span> Editer</button>
            <div class="media-body"> 
                <ul class="list-unstyled list-info">
                    <li>
                        <span class="icon glyphicon glyphicon-user"></span>
                        <label>Nom</label>
                        {{enseignant.sexe == "H" ? 'M.' : 'Mme.'}} {{enseignant.prenom}} {{enseignant.nom}} ( {{typeEnseignant}} )<br/>
                    </li>
                    <li>
                        <span class="icon fa fa-at"></span>
                        <label>E-mail</label>
                        {{enseignant.emailUbo}}
                    </li>
                    <li>
                        <span class="icon fa fa-at"></span>
                        <label>E-mail personnel</label>
                        {{enseignant.emailPerso}}
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-home"></span>
                        <label>Adresse</label>
                        {{enseignant.adresse}} {{enseignant.codePostal}} {{enseignant.ville}}
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-phone-alt"></span>
                        <label>Téléphone</label>
                        {{enseignant.telephone}}
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-earphone"></span>
                        <label>Mobile</label>                        
                        {{enseignant.mobile}}
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-flag"></span>
                        <label>Pays</label>
                        {{paysEnseignant}}
                    </li>                    
                </ul>                
            </div>
            <div class="row">
                <div class="col-md-6" ng-show="enseignant.promotions.length">            
                    <div class="panel-body table-responsive" >
                        <strong><span class="fa fa-graduation-cap"></span>&nbsp;Promotions</strong>
                        <p></p><br>

                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <th class="text-center new">Année</th>
                                    <th class="text-center">Formation</th>
                                    <th class="text-center">D&eacutesignation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in enseignant.promotions">
                                    <td align="center">{{p.promotionPK.anneeUniversitaire}}</td>
                                    <td align="center">{{p.promotionPK.codeFormation}}</td>
                                    <td align="center">{{p.siglePromotion}}</td>
                                </tr>                    
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6" ng-show="enseignant.ue.length">
                    <div class="panel-body table-responsive">
                        <strong><span class="fa fa-university"></span>&nbsp;Unités d'Enseignement</strong>
                        <p></p><br>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                	<th class="text-center">Formation</th>
                                    <th class="text-center">Semestre</th>
                                    <th class="text-center">UE</th>
                                    <th class="text-center">D&eacutesignation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ue in enseignant.ue">
                                	<td align="center">{{ue.uniteEnseignementPK.codeFormation}}</td>
                                    <td align="center">{{ue.semestre}}</td>
                                    <td align="center">{{ue.uniteEnseignementPK.codeUe}}</td>
                                    <td align="center">{{ue.designation}}</td>
                                </tr>                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary" href="#/admin/enseignants"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
        </div>
    </div>
  </div>
</div>
