<div class="page" ng-controller="EnsDetailsController">
  <div class="panel panel-default ens-edit">
    <div class="panel-heading"><strong><span class="fa fa-users"></span>&nbsp;&nbsp;Enseignant</strong></div>
    <div class="panel-body">
            <form class="form-horizontal form-validation" novalidate name="enseignantForm">
                <div class="form-group">
                    <label for="" class="col-sm-2">Nom<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="nom" minlength="1" maxlength="50" title=" " required
                       		ng-model="enseignant.nom">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Prénom<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="prenom" minlength="1" maxlength="50" title=" " required
                           	ng-model="enseignant.prenom">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Sexe<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
                        <label class="ui-radio"><input name="radio1" type="radio" value="H" ng-model="enseignant.sexe" required><span>Homme</span></label>
                        <label class="ui-radio"><input name="radio1" type="radio" value="F" ng-model="enseignant.sexe" required><span>Femme</span></label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Type<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
                    	<select name="type" ng-model="enseignant.type" name="type" required class="form-control">
                    	<option ng-repeat="x in types" value="{{x.rvLowValue}}">{{x.rvMeaning}}</option>
                        </select>
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">E-mail<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" name="email" minlength="1" maxlength="255" required
                               placeholder="Exemple: exemple@univ-brest.fr" title="Exemple: exemple@univ-brest.fr"
                       		   data-ng-pattern="/^[a-zA-Z0-9._-]+@univ-brest.fr$/"
                               ng-model="enseignant.emailUbo">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">E-mail personnel</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" 
                               placeholder="Exemple: exemple@exemple.fr" title="Exemple: exemple@exemple.fr"
                       		   data-ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9._-]+$/"
                               ng-model="enseignant.emailPerso">
                  	</div>
				</div>                
                <div class="form-group">
                    <label for="" class="col-sm-2">Mobile<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="mobile" minlength="10" maxlength="20" required
                        	   placeholder="Exemple: +3367551398 ou 06.07.55.13.98" title="Exemple: 0607551398 , +3367551398 ou 06.07.55.13.98"
                               data-ng-pattern="/^(((\+\d{2,3})|0)\d{1})[ \.\-]?[0-9]{2}[ \.\-]?[0-9]{2}[ \.\-]?[0-9]{2}[ \.\-]?[0-9]{2}$/"
                               ng-model="enseignant.mobile"
						>
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Téléphone</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control"
                        	   placeholder="Exemple: +3367551398 ou 06.07.55.13.98" title="Exemple: 0607551398 , +3367551398 ou 06.07.55.13.98"
                               data-ng-pattern="/^(((\+\d{2,3})|0)\d{1})[ \.\-]?[0-9]{2}[ \.\-]?[0-9]{2}[ \.\-]?[0-9]{2}[ \.\-]?[0-9]{2}$/"
                               ng-model="enseignant.telephone"
						>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Adresse<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="adresse" minlength="1" maxlength="255" title=" " required
                               ng-model="enseignant.adresse">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Code postal<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="codePostal" minlength="1" maxlength="10" required
                               placeholder="Exemple: 29200 ou 29 200" title="Exemple: 29200 ou 29 200"
                               data-ng-pattern="/^\d{2} ?\d{3}$/"
                               ng-model="enseignant.codePostal"
					   	>
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Ville<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="ville" minlength="1" maxlength="255" title=" " required
                               ng-model="enseignant.ville">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Pays<span id="required-field" style="color: red;"> (*) </span></label>
                    <div class="col-sm-5">
                    	<select name="pays" title=" " required
                    			ng-model="enseignant.pays" class="form-control">
                    	<option ng-repeat=" x in pays" value="{{x.rvLowValue}}">{{x.rvMeaning}}</option>
                        </select>
                    </div>                    
                </div>
            </form>
            
            <a class="btn btn-success" ng-click="submit()"
					ng-disabled="enseignantForm.nom.$dirty && enseignantForm.nom.$invalid || 
						enseignantForm.prenom.$dirty && enseignantForm.prenom.$invalid ||
						enseignantForm.radio1.$dirty && enseignantForm.radio1.$invalid ||
						enseignantForm.type.$dirty && enseignantForm.type.$invalid ||
						enseignantForm.email.$dirty && enseignantForm.email.$invalid ||
						enseignantForm.mobile.$dirty && enseignantForm.mobile.$invalid ||
						enseignantForm.adresse.$dirty && enseignantForm.adresse.$invalid ||
						enseignantForm.codePostal.$dirty && enseignantForm.codePostal.$invalid ||
						enseignantForm.ville.$dirty && enseignantForm.ville.$invalid ||
						enseignantForm.pays.$dirty && enseignantForm.pays.$invalid ||
           				enseignantForm.ordre.$dirty && enseignantForm.ordre.$invalid || 
           				enseignantForm.$invalid">
        			<span class="glyphicon glyphicon-ok"></span> Valider</a>
            <button class="btn btn-danger pull-right" ng-click="cancel()"> Annuler</button>
            </br></br><span style="color: red;" > (*) Champ obligatoire</span>
<!--         </div> -->
    </div>
  </div>
</div>
