<div class="page page-table" data-ng-controller="EnseignantsController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="fa fa-users"></span>&nbsp;&nbsp;Enseignants  {{testens}}</strong>
        <span class="add fa fa-user-plus pull-right" ng-click="ajoutEnseignant()"></span>
        </div>
          <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Recherche"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Affiche {{filteredEnseignant.length}}/{{enseignantSize}}
                    </span>              
                </div>
            </div>
        </div>  

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class="text-center"><div class="th">
                        Nom
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('nom') "
                              data-ng-class="{active: row == 'nom'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-nom') "
                              data-ng-class="{active: row == '-nom'}"></span>
                    </div></th>
                    <th class="text-center"><div class="th">
                        Prénom
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('prenom') "
                              data-ng-class="{active: row == 'prenom'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-prenom') "
                              data-ng-class="{active: row == '-prenom'}"></span>
                    </div></th>
                    <th class="text-center"><div class="th">
                        E-mail
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('emailUbo') "
                              data-ng-class="{active: row == 'emailUbo'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-emailUbo') "
                              data-ng-class="{active: row == '-emailUbo'}"></span>
                    </div></th>      
                    <th class="text-center"><div class="th">
                        Mobile
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('mobile') "
                              data-ng-class="{active: row == 'mobile'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-mobile') "
                              data-ng-class="{active: row == '-mobile'}"></span>
                    </div></th>
                    <th class="text-center"><div class="th"></div></th>
                </tr>
            </thead>
            <tbody><!-- currentPageEnseignant / enseignants -->
                <tr data-ng-repeat="e in currentPageEnseignant">
                    <td class="text-center">{{e.nom}}</td>
                    <td class="text-center">{{e.prenom}}</td>
                    <td>{{e.emailUbo}}</td>
                    <td>{{e.mobile}}</td>
                    <td class="enseignant">
                    	<span class="search fa fa-search" ng-click="consulter(e.noEnseignant)">
                    	</span>
                    	&nbsp;&nbsp;&nbsp;
                    	<span class="edit fa fa-edit" ng-click="updateEnseignant(e.noEnseignant)">
                    	</span>
                    	&nbsp;&nbsp;&nbsp;
                    	<span class="remove fa fa-remove" ng-click="supprime(e.noEnseignant)">
                    	</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Afficher
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        &eacute;l&eacute;ments par page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredEnseignant.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"
                                last-text="Derni&egrave;re"
                                next-text="Suivant"
                                previous-text="Pr&eacute;c&eacute;dent"
                                first-text="Premi&egrave;re"></pagination>
                                
                                
                </div>
            </div>
        </footer>
    </section>

</div>
